<detalle-cliente *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"></detalle-cliente>
<div class="card border-info mb-3" >
    <div class="card-header text-white" style="background-color: #0092fa;" >Clientes</div>
    <div class="card-body">
      <h5 class="card-title">Lista Clientes</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">CREAR CLIENTE</button>
      </div>

      <div *ngIf="clientes?.length==0" class="alert alert-infa-flip-horizontal">
        No hay registros en la base de datos.
      </div>
        <div class="table-responsive-xl">
            <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Fecha</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td> <button type="button" name="button" (click)="abrirModal(cliente)" class="btn btn-success" >{{ cliente.id }}</button></td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.fecha }}</td>
                        <td>
                            <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">EDITAR</button>
                        </td>
                        <td>
                            <button type="button" name="button" (click)="delete(cliente)" class="btn btn-danger">ELIMINAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <paginator-nav  *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
    </div>
  </div>